<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>samsHub - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  {% endblock head %}
</head>
<body>
  <div id="header">{% block header %}{% endblock %}</div>
  <div id="global_app_menu">
    <ul>
      {% for entry in menu recursive%}
      <li><a href='{{ entry.url }}'>{{ entry.name }}</a></li>
      {% if entry.menu %}
        <ul class="submenu">{{ loop(entry.menu) }}</ul>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
  </div>
</body>
</html>