{% extends "base-struct.html" %}
{% block title %}Index{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>samsHub Startseite: {{ app_lang['hello_message'] }}</p>
{% endblock %}
{% block header %}samsHUB -{% endblock %}