{% extends "base-struct.html" %}
{% block content %}
<div class="hold-transition login-page" style="padding-bottom: 1px;">
  <div class="login-box">
    <div class="login-logo" style="font-size: 32px; padding-top: 20px;">
      {{ hub_lang['zid_long'] | safe }}
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <form action="/login" method="post">
        <div class="form-group has-feedback">
          <input name="username" type="username" class="form-control"
            placeholder="{{hub_lang['username']}}">
          <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input name="password" type="password" class="form-control"
            placeholder="{{hub_lang['password']}}">
          <span class="fa fa-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">
              Sign in</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>

{% endblock %}
