{% extends "base-struct.html" %}
{% block title %}Index{% endblock %}
{% block head %} {{ super() }} 
<link rel="stylesheet" href="/ExampleApp.Extra/static/extra-style.css" />
{% endblock %}
{% block content %}
    <h1>Extra</h1>
    <p>samsHub Startseite: {{ app_lang['hello_message'] }}</p>
{% endblock %}
{% block header %}samsHUB -{% endblock %}