{% extends "base-struct.html" %}
{% block title %}Index{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <h1>{{ app_lang['change_lang_title'] }}</h1>
    <a href='/change-lang?lang=en'>{{ app_lang['change_lang_english'] }}</a>
    <a href='/change-lang?lang=de'>{{ app_lang['change_lang_german'] }}</a>
{% endblock %}
{% block header %}samsHUB -{% endblock %}